button {
    background-color: transparent;
    border: 2px solid #17c2b1;
    color: #17c2b1;
    font-size: 1rem;
    font-family: inherit;
    max-width: 100px;
    padding: 0.5rem 0.5rem;
  }

.form-grid {
    display: grid;
}